output "ViewSonic Corporation VX3276-QHD V9W221840544" {
    mode "2560x1440@75"
    scale 1
    transform "normal"
    position x=1200 y=185
    focus-at-startup
}

output "ASUSTek COMPUTER INC PA248QV RBLMQS003421" {
    mode "1920x1200@75"
    scale 1
    transform "90"
    position x=0 y=0

    layout {
        default-column-width { proportion 1.0; }
    }
}
